@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

:root {
  --color-primary: #f9f5f3;
  --color-secondary: #f3f3f3;
  --color-main-white: #fff;
  --color-tertiary: #f48982;
  --color-background1: #f7d173;
  --color-background2: #f9736a;
  --color-writing: #615551;
  --color-h2: #275665;
  --color-bodycolor: #0b0b0b;
  --color-bg1: #fbdb89;
  --color-bg2: #f48982;
  --color-bg3: #f8a7a1;
  --color-bg4: linear-gradient(to right bottom, #8f7e79, #f8a7a1);

  --color-btn: #f38e82;
  --color-btn2: #214956;
  --color-notification-bg: #d0d0d0;
  --color-success: #148414;
  --color-error: #ed3434;
  --color-btn3: #8f7e79;
  --color-btn4: #9f8c86;
  --color-btn5: #f4736a;
  --color-btn6: #f67b7b;
  --color-placeholder: #999898;
  --color-background: #dbd9d9;
  --flex-direction: column;
  --transition: all 0.3s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
html {
  /* height: auto; */
  height: 100%;
}

body {
  color: var(--color-bodycolor);
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--color-primary);
  justify-content: center;
  align-items: center;
  position: relative;
}

.rightside,
.loginform,
.loginform div,
.totalLoginArea,
.add,
.delete,
.filterdiv,
.filtercontact,
.form,
.personsdiv,
.list li {
  align-items: center;
}

.app {
  padding: 3rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1.5fr 1fr;
  width: 75vw;
  border: 5px solid var(--color-tertiary);
  border-radius: 1rem;
  z-index: 1;
  background-color: var(--color-secondary);
  min-height: 75vh;
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.2);
  position: relative;
}

.app::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    to right bottom,
    var(--color-background1),
    var(--color-background2)
  );
  border-radius: 1rem;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  box-shadow: 2rem 1rem 1rem rgba(0, 0, 0, 0.3);
  transform: skewY(-2deg) skewX(-3deg);
  z-index: -1;
}

.app::after {
  content: "";
  background-color: var(--color-secondary);
  position: absolute;
  border-radius: 1rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  z-index: -1;
}

.logodiv-writing {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-size: 1.7rem;
  letter-spacing: 0.3px;
  color: var(--color-writing);
}

.app2 {
  padding: 2rem 3rem 3rem 3rem;
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr 5fr;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.rightside {
  display: flex;
  flex-direction: var(--flex-direction);
  height: 100%;
  justify-content: center;
}

.rightside h2 {
  color: var(--color-bodycolor);
  color: var(--color-h2);
  align-self: center;
  justify-self: center;
}

.loggedin {
  color: var(--color-primary);
  color: var(--color-bg3);
  z-index: 1;
  font-size: 0.9rem;
}

.logodiv {
  background-image: url("phone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 1rem;
  height: 90%;
  align-self: center;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
}

.logodiv:before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right bottom,
    var(--color-bg1),
    var(--color-bg2)
  );
  opacity: 0.4;
}

.loginform {
  flex-direction: var(--flex-direction);
  display: flex;
  padding: 1rem;
  gap: 0.5rem;
  width: 73%;
}

.loginform input {
  padding: 0.4rem;
  border-radius: 4px;
  border: none;
  width: 100%;
}
.saveicon {
  height: 2rem;
}

.loginform div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.3rem;
}

.phonebook {
  height: 4rem;
  width: auto;
  z-index: 1;
  position: absolute;
  top: 5%;
}
.mainpage {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 2rem;
  width: 70%;
  justify-content: center;
}

.mainpage h3 {
  color: var(--color-writing);
}
.btn {
  border-radius: 2px;
  border: none;
  padding: 0.5rem 0.7rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--color-main-white);
}
.loginform button {
  background-color: var(--color-btn);
  border-radius: 2px;
  border: 2px solid var(--color-btn);
  margin-top: 1.5rem;
}

.loginform button:hover {
  background-color: var(--color-main-white);
  transition: var(--transition);
  border: 2px solid var(--color-btn);
  color: var(--color-btn);
}
.registerbtn {
  background-color: var(--color-secondary);
  border: 2px solid var(--color-btn2);
  color: var(--color-btn2);
}
.registerbtn:hover {
  background-color: var(--color-btn2);
  transition: var(--transition);
  border: var(--color-btn2);
  color: var(--color-main-white);
}

.createnew {
  background-image: linear-gradient(
    to right bottom,
    var(--color-background1),
    var(--color-bg2)
  );
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 1.6rem;
  padding: 0.7rem;
}
.createnew:hover {
  transform: skewY(-2deg) skewX(-3deg);
  padding: 0.7rem;
  transition: var(--transition);
}

.totalLoginArea {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: var(--flex-direction);
  justify-content: center;
}

.registerarea {
  margin-top: 2rem;
  display: flex;
  flex-direction: var(--flex-direction);
  gap: 0.7rem;
  align-items: center;
}

.logout {
  display: flex;
  align-self: flex-end;
  background: none;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-writing);
  position: absolute;
  top: 5%;
  right: 5%;
}

.logout:hover {
  outline: 2px solid var(--color-writing);
  transition: var(--transition);
}

.notific {
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--color-notification-bg);
  font-weight: 500;
  text-align: center;
  width: 100%;
  justify-self: center;
}

.success {
  color: var(--color-success);
  border: 3px solid var(--color-success);
}
.error {
  color: var(--color-error);
  border: 3px solid var(--color-error);
}
.add {
  background-color: var(--color-btn3);
  color: var(--color-main-white);
  margin-top: 1rem;
  border: none;
  border-radius: 1rem;
  display: inline-flex;
  justify-content: center;
  padding: 0.3rem;
}
.add:hover {
  background-color: var(--color-btn4);
  transition: var(--transition);
}
.delete {
  background-color: var(--color-btn5);
  color: var(--color-main-white);
  border: none;
  border-radius: 1rem;
  display: inline-flex;
  justify-content: center;
}
.delete:hover {
  background-color: var(--color-btn6);
  color: varvar(--color-main-white);
  transition: var(--transition);
}

.filterdiv {
  display: flex;
  flex-direction: var(--flex-direction);
  gap: 0.5rem;
  margin: 1rem 0;
  justify-content: center;
  background-color: var(--color-main-white);
  border-radius: 2.5rem;
  padding: 3rem 4rem;
  width: 40%;
}
.filtercontact {
  display: flex;
  flex-direction: var(--flex-direction);
  gap: 1.2rem;
}

.filterdiv input,
.formdiv input {
  border-radius: 1rem;
  border: none;
  padding: 0.6rem;
  background-color: var(--color-background);
  color: var(--color-writing);
  font-weight: 400;
  outline: none;
}

.filterdiv input::placeholder,
.formdiv input::placeholder {
  color: var(--color-placeholder);
}

.form {
  display: flex;
  flex-direction: var(--flex-direction);
  gap: 0.5rem;
  justify-content: center;
  background-image: linear-gradient(
    to right bottom,
    var(--color-bg1),
    var(--color-bg3)
  );
  padding: 3rem;
  border-radius: 2.5rem;
  margin: 1rem 0;
  width: 40%;
  justify-self: flex-start;
}

.list {
  display: flex;
  flex-direction: var(--flex-direction);
  gap: 0.5rem;
  list-style: none;
  padding: 0;
}
.personsdiv {
  display: flex;
  flex-direction: var(--flex-direction);
}
.list li {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

@media (min-width: 992px) {
  .logodiv {
    background-position: center;
    height: 85%;
    padding: 0.5rem;
  }

  .rightside {
    height: 70%;
    align-self: center;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .logodiv {
    background-position: center;
    height: 85%;
    padding: 0.5rem;
  }
  .logodiv-writing {
    font-size: 1.3rem;
  }
  .loggedin {
    font-size: 0.7rem;
  }

  .rightside h2 {
    font-size: 1rem;
  }

  .btn {
    font-size: 0.5rem;
  }
  .registerarea p {
    font-size: 0.7rem;
  }

  .rightside {
    height: 70%;
    align-self: center;
  }

  /* after loggedin */

  .createnew,
  .delete {
    font-size: 0.7rem;
    padding: 0.3rem;
  }
  .filterdiv input,
  .form input {
    padding: 0.6rem;
  }
  .mainpage {
    gap: 1rem;
    padding: 0;
  }
  .list li {
    font-size: 0.7rem;
  }
  .form h3,
  .filtercontact h3,
  .personsdiv h3 {
    font-size: 0.8rem;
  }
}
@media (min-width: 567px) and (max-width: 768px) {
  .form h3,
  .filtercontact h3,
  .personsdiv h3 {
    font-size: 0.8rem;
  }
  .list li {
    font-size: 0.7rem;
  }
  .logodiv {
    background-position: center;
    height: 70%;
    padding: 0.5rem;
  }
  .logodiv-writing {
    font-size: 1rem;
  }
  .loggedin {
    font-size: 0.5rem;
  }

  .rightside h2 {
    font-size: 1rem;
  }

  .btn {
    font-size: 0.5rem;
  }
  .registerarea p {
    font-size: 0.7rem;
  }

  .app {
    grid-template-columns: 1.7fr 2fr;
    padding: 2rem;
  }

  .rightside {
    height: 70%;
    align-self: center;
  }
  .loginform input::placeholder {
    font-size: 0.6rem;
  }

  /* after login */
  .logodiv2 {
    font-size: 0.3rem;
  }
  .saveicon {
    height: 1rem;
  }
  .createnew {
    padding: 0.2rem;
  }

  .logout {
    font-size: 0.7rem;
  }
  .mainpage {
    gap: 1rem;
    padding: 0;
    width: 90%;
  }
  .filterdiv,
  .form {
    padding: 1.5rem;
  }
  .filterdiv input,
  .form input {
    padding: 0.3rem;
    width: 100%;
    font-size: 0.7rem;
  }
}

@media (max-width: 567px) {
  .app {
    grid-template-columns: 1fr;
    grid-template-rows: 1.3fr 2fr;
    padding: 2rem;
  }

  .rightside h2 {
    font-size: 1rem;
  }
  .btn {
    padding: 0.2rem;
    font-size: 0.7rem;
  }
  .logodiv-writing {
    font-size: 1.2rem;
  }
  .loggedin {
    font-size: 0.6rem;
  }

  /* after login */
  .app2 {
    padding: 0.5rem;
  }
  .form h3,
  .filtercontact h3,
  .personsdiv h3 {
    font-size: 0.8rem;
  }
  .saveicon {
    height: 1rem;
  }

  .logodiv2 .logodiv-writing {
    font-size: 1.2rem;
    left: -6%;
  }
  .logodiv2 .loggedin {
    font-size: 0.6rem;
    left: 5%;
  }
  .list {
    font-size: 0.8rem;
  }

  .mainpage {
    gap: 1rem;
    padding: 0;
    flex-direction: var(--flex-direction);
    justify-content: center;
    align-items: center;
  }

  .filterdiv,
  .form {
    width: 80%;
    padding: 1.5rem;
  }

  .filterdiv input,
  .form input {
    padding: 0.3rem;
    width: 100%;
    font-size: 0.7rem;
  }
}
