@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
html,
body {
  height: 100%;
  background-color: #f9f5f3;
}

body {
  color: #0b0b0b;
  width: 100%;
  margin: 20rem;
  background-color: #f3f3f3;
  /* overflow: hidden; */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.app {
  padding: 3rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1.5fr 1fr;
  width: 75vw;
  border: 5px solid #f48982;
  border-radius: 1rem;
  z-index: 1;
  background-color: #f3f3f3;
  min-height: 75vh;
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.2);
  position: relative;
}
.app::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(to right bottom, #f7d173, #f9736a);
  border-radius: 1rem;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  box-shadow: 2rem 1rem 1rem rgba(0, 0, 0, 0.3);
  transform: skewY(-2deg) skewX(-3deg);
  z-index: -1;
}

.app::after {
  content: "";
  background-color: #f3f3f3;
  position: absolute;
  border-radius: 1rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  z-index: -1;
}

.logodiv-writing {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0.3px;
  color: #615551;
  position: absolute;
  top: -10%;
}

.app2 {
  padding: 1rem 3rem 3rem 3rem;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
  background-color: #f9f5f3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.logodiv2 {
  gap: 2rem;
  width: 80%;
  z-index: 1;
}

.logodiv2 .logodiv-writing {
  font-size: 2rem;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #615551;
  position: relative;
  top: 10%;
}

.logodiv2 .loggedin {
  color: #615551;
  position: absolute;
  top: 20%;
}

.rightside {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.rightside h2 {
  color: #0b0b0b;
  color: #275665;
  align-self: center;
  justify-self: center;
}
.loggedin {
  color: #f9f5f3;
  z-index: 1;
  position: absolute;
  bottom: 3%;
  left: 2%;
}

.logodiv {
  align-items: center;
  background-image: url("phone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 1rem;
  height: 100%;
}
.logodiv:before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  opacity: 0.4;
}

.loginform {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  width: 73%;
}

.loginform input {
  padding: 0.4rem;
  border-radius: 4px;
  border: none;
  width: 100%;
}
.saveicon {
  height: 2rem;
}

.loginform div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.3rem;
}

.phonebook {
  height: 4rem;
  width: auto;
  z-index: 1;
  position: absolute;
  top: 5%;
}
.mainpage {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 2rem;
  width: 70%;
  justify-content: center;
}

.mainpage h3 {
  color: #615551;
}
.btn {
  border-radius: 2px;
  border: none;
  padding: 0.5rem 0.7rem;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
}
.loginform button {
  background-color: #f38e82;
  border-radius: 2px;
  border: 2px solid #f38e82;
  margin-top: 1.5rem;
}
.loginform button:hover {
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  border: 2px solid #f38e82;
  color: #f38e82;
}
.registerbtn {
  background-color: #f3f3f3;
  border: 2px solid #214956;
  color: #214956;
}
.registerbtn:hover {
  background-color: #214956;
  transition: all 0.3s ease-in-out;
  border: #214956;
  color: #fff;
}

.createnew {
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 1.6rem;
  padding: 0.7rem;
}
.createnew:hover {
  transform: skewY(-2deg) skewX(-3deg);
  padding: 0.7rem;
}

.totalLoginArea {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerarea {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
}

.logout {
  display: flex;
  align-self: flex-end;
  background: none;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  color: #615551;
  position: absolute;
  top: 5%;
  right: 5%;
}

.logout:hover {
  outline: 2px solid #615551;
  transition: all 0.3s ease-in-out;
}

.notific {
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 10px;
  background-color: #d0d0d0;
  font-weight: 500;
  text-align: center;
  width: 100%;
  justify-self: center;
}

.success {
  color: rgb(20, 132, 20);
  border: 3px solid green;
}
.error {
  color: rgb(237, 52, 52);
  border: 3px solid red;
}
.add {
  background-color: #8f7e79;
  color: #fff;
  margin-top: 1rem;
  border: none;
  border-radius: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
}
.add:hover {
  background-color: #9f8c86;
}
.delete {
  background-color: #f4736a;
  color: #fff;
  border: none;
  border-radius: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.delete:hover {
  background-color: #f67b7b;
  color: #fff;
}

.filterdiv {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 2.5rem;
  padding: 3rem 4rem;
  width: 40%;
}
.filtercontact {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

.filterdiv input,
.formdiv input {
  border-radius: 1rem;
  border: none;
  padding: 0.6rem;
  background-color: #dbd9d9;
  color: #615551;
  font-weight: 400;
  outline: none;
}

.filterdiv input::placeholder,
.formdiv input::placeholder {
  color: #999898;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, #fbdb89, #f8a7a1);
  padding: 3rem;
  border-radius: 2.5rem;
  margin: 1rem 0;
  width: 40%;
  justify-self: flex-start;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
}
.personsdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 1200px) {
  /* .logodiv {
    background-position: center;
    height: 70%;
    align-self: center;
  }
  .rightside h2 {
    font-size: 1.3rem;
  }
  .app {
    grid-template-columns: 1.5fr 2fr;
  }
  .createnew,
  .delete {
    font-size: 0.7rem;
    padding: 0.2rem;
  } */
}

@media (min-width: 768px) and (max-width: 992px) {
  .logodiv {
    background-position: center;
    height: 70%;
    align-self: center;
  }
  .rightside h2 {
    font-size: 1.3rem;
  }
  .app {
    grid-template-columns: 1.5fr 2fr;
  }
  .createnew,
  .delete {
    font-size: 0.7rem;
    padding: 0.2rem;
  }
  .filterdiv input,
  .form input {
    padding: 0.6rem;
  }
  .mainpage {
    gap: 1rem;
    padding: 0;
  }
}
@media (min-width: 567px) and (max-width: 768px) {
  .app {
    grid-template-columns: 1fr 2fr;
  }
  .logodiv {
    background-position: center;
    height: 50%;
    align-self: center;
  }
  .logodiv2 {
    font-size: 0.3rem;
  }

  .rightside {
    height: 70%;
    align-self: center;
  }

  .rightside h2 {
    font-size: 0.8rem;
  }
  .loggedin {
    font-size: 0.7rem;
  }
  .registerarea p {
    font-size: 0.7rem;
  }
  .btn {
    font-size: 0.5rem;
  }
  .logodiv-writing {
    font-size: 1rem;
  }
  .logout {
    font-size: 0.7rem;
  }
  .mainpage {
    gap: 1rem;
    padding: 0;
  }
  .filterdiv,
  .form {
    padding: 2rem;
  }
  .filterdiv input,
  .form input {
    padding: 0.3rem;
    width: 100%;
    font-size: 0.7rem;
  }
}
@media (max-width: 567px) {
  .app {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }
  .rightside h2 {
    font-size: 1rem;
  }
  .logodiv2 .logodiv-writing {
    font-size: 1.2rem;
    left: -6%;
  }
  .logodiv2 .loggedin {
    font-size: 0.6rem;
    left: 5%;
  }
  .list {
    font-size: 0.8rem;
  }
  .btn {
    padding: 0.2rem;
  }
  .logodiv-writing {
    top: -20%;
  }

  .mainpage {
    gap: 1rem;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .filterdiv,
  .form {
    width: 80%;
  }

  .filterdiv input,
  .form input {
    padding: 0.3rem;
    width: 100%;
    font-size: 0.7rem;
  }
}
